@charset "UTF-8";
* {
  color: #333;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #555;
}

.w {
  width: 1200px;
  margin: 0 auto;
}

/*清除浮动*/
.cf:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.cf {
  zoom: 1;
}

/*左浮动*/
.fl {
  float: left;
}

/*右浮动*/
.fr {
  float: right;
}

nav {
  background-color: #252f39;
  height: 80px;
  width: 100%;
}

.nav_box {
  height: 100%;
  line-height: 80px;
}

.nav_logo {
  height: 100%;
  margin-right: 50px;
}

.nav_tabs > li {
  padding: 0 35px;
  float: left;
  font-weight: bold;
}
.nav_tabs > li a {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.nav_tabs > li[class~="act"] {
  background-color: #fff;
}
.nav_tabs > li[class~="act"] a {
  color: #ff7900;
}

.ft-carousel {
  height: 645px;
}

.index_item > h2 {
  letter-spacing: 8px;
  display: table;
  width: auto;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  padding: 25px 40px;
  padding-right: 150px;
  background-image: url(../img/index_item_title.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 35px auto;
}
.index_item > p {
  margin-bottom: 35px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.jtdz_tiem li {
  float: left;
  width: 30%;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 10px #ddd;
}
.jtdz_tiem li img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.jtdz_tiem li h6 {
  height: 80px;
  font-size: 18px;
  padding: 0 10px;
}
.jtdz_tiem li h6 span {
  font-size: 50px;
  color: #ff7900;
  position: relative;
  top: 10px;
}
.jtdz_tiem > li:first-child {
  margin-right: 5%;
}
.jtdz_tiem > li:last-child {
  margin-left: 5%;
}

.gebt_box {
  height: 450px;
  width: 100%;
  background-image: url(../img/item2.png);
}
.gebt_box .gebt_item {
  height: 100%;
}
.gebt_box .gebt_item li {
  width: 33.3333333333%;
  height: 100%;
  float: left;
  text-align: center;
}
.gebt_box .gebt_item li img {
  margin-top: 120px;
}
.gebt_box .gebt_item li p {
  margin-top: 60px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.cdzy_item li {
  width: 50%;
  float: left;
  position: relative;
  padding-top: 80px;
}
.cdzy_item li h4 {
  display: table;
  background-color: #ff7900;
  padding: 10px 15px;
  padding-left: 30px;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.cdzy_item li h4 span {
  color: #fff;
  font-size: 40px;
  position: absolute;
  left: 10px;
  top: 20px;
  line-height: 0;
}
.cdzy_item li img {
  width: 100%;
}

.index_item_box ul {
  width: 45%;
  float: left;
}
.index_item_box ul li {
  margin-bottom: 20px;
  height: 320px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px #ccc;
}
.index_item_box ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index_item_box > ul:first-child {
  margin-right: 10%;
}

.zmzs .p_img {
  width: 160px;
}

.fxzq_item li {
  float: left;
  text-align: center;
  width: 33.3333333333%;
}
.fxzq_item li img {
  width: 100px;
  margin-bottom: 25px;
}
.fxzq_item li p {
  font-size: 16px;
  line-height: 25px;
}

/*# sourceMappingURL=index.css.map */
