@import "./communal.scss";
.index_item {
    &>h2 {
        letter-spacing: 8px;
        display: table;
        width: auto;
        font-size: 32px;
        color: #fff;
        font-weight: bold;
        padding: 25px 40px;
        padding-right: 150px;
        background-image: url(../img/index_item_title.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 35px auto;
    }

    &>p {
        margin-bottom: 35px;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
    }
}

.jtdz_tiem {
    li {
        float: left;
        width: 30%;
        height: 400px;
        // background-color: red;
        border-radius: 20px;
        box-shadow: 0 0 10px #ddd;

        img {
            width: 100%;
            height: 320px;
            object-fit: cover;
        }

        h6 {
            height: 80px;
            font-size: 18px;
            padding: 0 10px;

            span {
                // margin-right: 10px;
                font-size: 50px;
                color: $theme;
                position: relative;
                top: 10px;
            }
        }

    }

    &>li:first-child {
        margin-right: 5%;
    }

    &>li:last-child {
        margin-left: 5%;

    }
}

.gebt_box {
    height: 450px;
    width: 100%;
    background-image: url(../img/item2.png);

    .gebt_item {
        height: 100%;

        li {
            width: (100%/3);
            height: 100%;
            float: left;
            text-align: center;

            img {
                margin-top: 120px;
            }

            p {
                margin-top: 60px;
                font-size: 24px;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

.cdzy_item {
    li {
        width: 50%;
        float: left;
        position: relative;
        padding-top: 80px;

        h4 {
            display: table;
            background-color: $theme;
            padding: 10px 15px;
            padding-left: 30px;
            border-radius: 5px;
            font-size: 20px;
            color: #fff;
            position: absolute;
            left: 0;
            top: 0;

            span {
                color: #fff;
                font-size: 40px;
                position: absolute;
                left: 10px;
                top: 20px;
                line-height: 0;
            }
        }

        img {
            width: 100%;
        }
    }
}

.index_item_box {
    ul {
        width: 45%;
        float: left;

        li {
            margin-bottom: 20px;
            height: 320px;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 0 10px #ccc;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &>ul:first-child {
        margin-right: 10%;
    }
}

.zmzs {

    .p_img {
        width: 160px;
    }

    .zmzs_item {
        height: 340px;
        background-image: url("../img/item8.png");
        background-size: cover;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;

        li {
            width: 50%;
            height: 100%;
            float: left;
            text-align: center;
            font-weight: bold;

            img {
                width: 300px;
                margin: 40px 0;
            }

            p {
                margin-bottom: 30px;
                font-weight: bold;
                font-size: 18px;

                strong {
                    font-size: 26px;
                }
            }

        }

        &>li:first-child {
            p {
                color: #333;

                strong {
                    color: $theme;
                }
            }
        }

        &>li:last-child {
            p {
                color: #fff;

                strong {
                    color: #333;
                }
            }
        }

    }
}

.fxzq_item {
    li {
        float: left;
        text-align: center;
        width: (100%/3);

        img {
            width: 100px;
            margin-bottom: 25px;
        }

        p {
            font-size: 16px;
            line-height: 25px;
        }
    }
}

