@import "./communal.scss";

body {
    background-color: #f2efea;
}

.content_box {
    min-height: 800px;
    background-color: #fff;

    .left_box {
        min-height: 800px;

        float: left;
        width: 25%;
        box-shadow: 0px 0px 10px #ddd;

        .user_header {
            height: 200px;
            width: 100%;
            padding-top: 30px;
            text-align: center;
            border-bottom: 1px solid #ddd;

            h1 {
                font-size: 22px;
                color: #333;
                font-weight: bold;

            }

            img {
                margin-bottom: 30px;
                width: 80px;
                height: 80px;
                border-radius: 500%;
            }
        }

        &>ul {
            width: 100%;

            li {
                height: 60px;
                width: 100%;

                a {
                    display: block;
                    height: 100%;
                    width: 100%;
                    font-size: 18px;
                    color: #333;
                    text-align: center;
                    line-height: 60px;
                    font-weight: bold;
                }

                .current {
                    background-color: $theme;
                    color: #fff;
                }
            }
        }
    }

    .right_box {
        height: 100%;

        width: 75%;
        float: left;

        .title {
            height: 55px;
            line-height: 55px;
            font-weight: bold;
            font-size: 16px;
            padding: 0 45px;
            border-bottom: 1px dashed #ddd;

            span {
                color: $theme;
            }
        }

        .user_info {
            padding: 65px 0;
            width: 100%;

            &>li {
                text-align: center;
                margin-bottom: 20px;
                color: #777;

                .h6 {
                    color: #333;
                }
            }

            .bottom_margin {
                margin-bottom: 50px;
            }

            .btn {
                button {
                    width: 150px;
                    height: 50px;
                    font-size: 22px;
                    color: #fff;
                    line-height: 50px;
                    border: none;
                    background-color: $theme;
                    border-radius: 10px;
                }
            }
        }

        .meal_title {
            font-size: 18px;
            color: $theme;
            margin: 35px 0;
            display: block!important;
            text-align: center;
            font-weight: bold;
        }

        .meal_table {
            width: 730px;
            margin: 0 auto;
            margin-bottom: 40px;

            td {
                border: 1px solid #eeeeee;
                padding: 25px 0;
                text-align: center;
                color: #555;
            }

            .all_price {
                color: $theme;
            }

            thead {
                td {
                    background-color: #f5f5f5;
                    color: #333;
                }
            }
        }
    }
}

.footer_bottom {
    background-color: #f2efea !important;
}